<h2><%=@park.name%></h2>
<p><%="Admissions: $#{@park.admission_price}.00"%></p>

<section id = "rides">
  <h4>Rides:</h4>
  <ol>
  <% @rides.each do |ride| %>
    <li> <%=ride.name%> </li>
    <%end%>
  </ol>

<p><%="Average Thrill Rating of Rides: #{@park.average_thrill_rating}/10"%></p>
